<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
</head>

<body>
    <p>It Works!</p>
    <div hx-ext="sse" sse-connect="/sse" sse-swap="request" hx-swap="afterend">
        Contents of this box will be updated in real time
        with every SSE message received from the chatroom.
    </div>
</body>

</html>