<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Haneru Proxy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/layout.css" type="text/css">

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>

    <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
</head>

<body hx-boost="true">
    <header>
        <h1>Haneru Proxy -- {% block subtitle %}{% endblock %}</h1>
        <nav>
            <a hx-boost="false" href="/cert">cert</a>
            <a href="/">live</a>
            <a href="/log">log</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>