{% extends "layout.html" %}

{% block subtitle %}
Log
{% endblock subtitle %}
{% block content %}
<form hx-get="/log" hx-target="body" hx-push-url="true">
    <textarea name="q" cols="120" rows="4">{{q.value()}}</textarea>
    <button type="submit">Search</button>
</form>

<div class="split">
    <div id="table">
        <table>
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Timestamp</th>
                    <th>Host</th>
                    <th>Method</th>
                    <th>URL</th>
                    <th>Length</th>
                    <th>Content-Type</th>
                </tr>
            </thead>
            <tbody hx-ext="sse" sse-connect="/sse/log{{q.query()}}" sse-swap="request" hx-swap="afterbegin">
            </tbody>
        </table>
    </div>
    <div id="detail">
    </div>
</div>

<script>
    Split(['#table', '#detail'], {
        direction: 'vertical',
    });
</script>

<style>
    html,
    body,
    main,
    .split {
        height: 100%;
    }

    #table {
        overflow-y: scroll;
    }
</style>

{% endblock content %}