{% extends "layout.html" %}

{% block subtitle %}
Log
{% endblock subtitle %}
{% block content %}

<details>
    <summary>Query</summary>
    <pre><code class="language-sql">SELECT DISTINCT id FROM requests 
JOIN request_headers ON requests.id = request_headers.request_id
LEFT JOIN responses ON requests.id = responses.request_id
LEFT JOIN response_headers ON requests.id = response_headers.request_id
WHERE -- will be inserted here
ORDER BY id ASC</code></pre>
</details>

<form hx-get="/log" hx-target="body" hx-push-url="true">
    <textarea name="q" cols="120" rows="4">{{q.value()}}</textarea>
    <button type="submit">Search</button>
</form>

<div class="split">
    <div id="table">
        <table>
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Timestamp</th>
                    <th>Host</th>
                    <th>Method</th>
                    <th>Path</th>
                    <th>Status</th>
                    <th>Length</th>
                    <th>Content-Type</th>
                </tr>
            </thead>
            <tbody hx-ext="sse" sse-connect="/sse/log{{q.query()}}" sse-swap="request" hx-swap="afterbegin">
            </tbody>
        </table>
    </div>
    <div id="detail">
        <p>detail</p>
    </div>
</div>

<script>
    Split(['#table', '#detail'], {
        direction: 'vertical',
    });
    hljs.highlightAll();
</script>

<style>
    html,
    body,
    main,
    .split {
        height: 100%;
    }

    #table {
        overflow-y: scroll;
    }
</style>

{% endblock content %}