{% extends "layout.html" %}

{% block subtitle %}
Log
{% endblock subtitle %}
{% block content %}
<form hx-get="/log" hx-target="body" hx-push-url="true">
    <textarea name="q">{{q.value()}}</textarea>
    <button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Serial</th>
            <th>Timestamp</th>
            <th>Host</th>
            <th>Method</th>
            <th>URL</th>
            <th>Length</th>
            <th>Content-Type</th>
        </tr>
    </thead>
    <tbody hx-ext="sse" sse-connect="/sse/log{{q.query()}}" sse-swap="request" hx-swap="beforeend">
    </tbody>
</table>
<div id="detail">
</div>
{% endblock content %}